<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
</head>
<body>
<div>
    <button id="return_main" class="bg-blue-500 text-white w-32 p-1 rounded-lg hover:bg-blue-600 font-semibold">
        return to main
    </button>
</div>
<form method="post">
    {% csrf_token %}
    <div class="my-4 mx-4 ">
        {{ form.filename }} {{ form.lang }}
        <select class="p-2" id="tag" name="tag">
            <option selected>Select tag</option>
        </select>
        {{ form.date }}
    </div>
    <div class="my-4 mx-4">
        {{ form.code }}
        <div class="my-4 mx-4">
            <button id="debug_btn"
                class="bg-blue-500 text-white w-32 p-1 rounded-lg hover:bg-blue-600 font-semibold">
                debug AI
            </button>
            <button type="submit" id="save_btn"
                class="bg-blue-500 text-white w-32 p-1 rounded-lg hover:bg-blue-600 font-semibold">
                Save
            </button>
        </div>
    </div>
    <span>{{ error }}</span>
</form>
<script src="{% static 'JS/create.js' %}"></script>
</body>
</html>