<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../build/output.css" />
</head>

<body>
    <div class="flex w-full">
        <div class="w-full flex flex-col">
            <div class="p-4 flex justify-between">
                <button
                    id="return-button"
                    class="rounded-full bg-slate-100 py-1 px-4 cursor-pointer hover:bg-slate-200 active:bg-slate-100"
                >
                    return to snippet
                </button>
                <div>
                    <button
                        id="copy-button"
                        class="rounded-full bg-blue-400 py-1 px-4 cursor-pointer hover:bg-blue-500 active:bg-blue-400 text-white"
                    >
                        restore
                    </button>
                </div>
            </div>

            <div class="p-4 flex">
                <h1 id="header" class="text-3xl font-bold">
                    FastAPI back-end example
                </h1>
            </div>

            <div class="p-4 flex gap-x-4">
                <div class="p-4 rounded-full bg-slate-100 py-1 px-4 cursor-pointer hover:shadow-md transition">
                    back-end
                </div>

                <div class="p-4 rounded-full bg-slate-100 py-1 px-4 cursor-pointer hover:shadow-md transition">
                    python
                </div>
            </div>

            <div id="code-container" class="flex m-4 p-4 bg-slate-100 rounded-md">
                <code id="code" class="whitespace-pre">import requests&#10;import uvicorn&#10;import random&#10;from fastapi import FastAPI, HTTPException&#10;&#10;app = FastAPI()</code>
            </div>
        </div>

        <div class="w-full max-w-96 bg-slate-100 h-lvh">
            <div class="p-4 mt-16 flex">
                <h1 id="header" class="text-3xl font-bold">
                    history
                </h1>
            </div>

            <div class="py-4 flex flex-col" id="versions-container"></div>
        </div>
    </div>

    <script src="./index.js"></script>
</body>

</html>
