<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome storage</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
</head>
<body>
<div class="flex justify-center">
    <div class="w-96 p-6 border-2 border-grey rounded-lg">
        <h1 class="text-3xl block text-center font-semibold p-3 text-gray-900">STORAGE</h1>
        <div>
            <p class="p-3 block text-center font-semi text-gray-700">Our service offers a secure and convenient storage for your code,
            where you can easily find the code snippets you need,
            share them with colleagues and save your ideas for the future.</p>
            <p class="p-1 block text-center font-semi text-gray-700">Welcome to the world of endless programming possibilities!</p>
        </div>

        <div class="block text-center p-4">
            <button class=" bg-blue-400 text-blue-50 w-47 p-3 rounded-lg hover:bg-blue-500 font-semibold" id="sign_up">Sign up</button>
            <button class=" bg-blue-400 text-blue-50 w-47 p-3 rounded-lg hover:bg-blue-500 font-semibold" id="sign_in">Sign in</button>
        </div>

    </div>
</div>
<script type="module" src="{% static 'JS/navigation_welcome.js' %}"></script>
</body>
</html>